In [1]:
# import libraries

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.squareyards.com/sale/property-for-sale-in-bangalore?page=2'
headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'
    }

webpage = requests.get(url, headers=headers).text

In [3]:
#webpage

In [4]:
soup = BeautifulSoup(webpage, 'lxml')

In [5]:
#print(soup.prettify())

In [6]:
containers = soup.find_all('div', class_='tlTxtBdy')

In [7]:
len(containers)

22

In [8]:
title = [i.find('span').text for i in containers]

In [9]:
len(title)

22

In [10]:
price = [i.find('span', class_="tlPrc").text for i in containers]

In [11]:
len(price)

22

In [12]:
size = [i.find('div', class_="tlSqFt").text for i in containers]

In [13]:
len(size)

22

In [17]:
final = pd.DataFrame()
for j in range (1, 700):
    url = 'https://www.squareyards.com/sale/property-for-sale-in-bangalore?page={}'.format(j)
    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'
    }
    webpage = requests.get(url, headers=headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    containers = soup.find_all('div', class_='tlTxtBdy')
    
    title = []
    price = []
    size = []

    title = [i.find('span').text for i in containers]
    price = [i.find('span', class_="tlPrc").text for i in containers]
    size = [i.find('div', class_="tlSqFt").text for i in containers]
    
    d = {'title':title, 'price':price, 'size':size}
    df = pd.DataFrame(d)
    final = final.append(df)

In [18]:
final.to_excel('bangalore flat price(square yards).xlsx')

In [46]:
semifinal = pd.read_excel('bangalore flat price(square yards).xlsx')

In [47]:
semifinal.duplicated().sum()

8065

In [48]:
semifinal

,Unnamed: 0,title,price,size
0,0,\n Sriven Daksha Elite\n1 BHK Flat\nJigani\n,\n₹ 22 L\n,607 Sq.Ft.
1,1,\n Panchmukhi Paradise\n3 BHK Flat\nRajarajesh...,\n₹ 1 Cr.\n,1535 Sq.Ft.
2,2,\n Puravankara Purva Venezia\n3 BHK Flat\nYela...,\n₹ 1.12 Cr.\n,1614 Sq.Ft.
3,3,\n Sobha Royal Pavilion Phase 5\n4 BHK Flat\nS...,\n₹ 2.84 Cr.\n,2232 Sq.Ft.
4,4,\n Electronic City\n Plot\nElectronic City\n,\n₹ 72 L\n,1200 Sq.Ft.
...,...,...,...,...
15634,17,\n Godrej Avenues\n2 BHK Flat\nYelahanka\n,\n₹ 84 L\n,1254 Sq.Ft.
15635,18,\n SN Sri Nandi Samruddhi\n3 BHK Flat\nKodichi...,\n₹ 68 L\n,1510 Sq.Ft.
15636,19,\n Jigani Road\n Plot\nJigani Road\n,\n₹ 20.38 L\n,1200 Sq.Ft.
15637,20,\n Dukes Legend Sujay\n Plot\nDevanahalli\n,\n₹ 49.5 L\n,1200 Sq.Ft.
15638,21,\n Prestige Lavender Fields\n2 BHK Flat\nVarth...,\n₹ 1.19 Cr.\n,1100 Sq.Ft.

In [49]:
semifinal['price'] = semifinal['price'].str.replace('\n₹ ', '', regex=True)

In [51]:
semifinal['price'] = semifinal['price'].str.replace('\n','',regex=True)

In [53]:
semifinal['price'] = semifinal['price'].str.replace('.','',regex=True)

In [54]:
semifinal['price']

0          22 L
1          1 Cr
2        112 Cr
3        284 Cr
4          72 L
          ...
15634      84 L
15635      68 L
15636    2038 L
15637     495 L
15638    119 Cr
Name: price, Length: 15639, dtype: object

In [55]:
semifinal.head()

,Unnamed: 0,title,price,size
0,0,\n Sriven Daksha Elite\n1 BHK Flat\nJigani\n,22 L,607 Sq.Ft.
1,1,\n Panchmukhi Paradise\n3 BHK Flat\nRajarajesh...,1 Cr,1535 Sq.Ft.
2,2,\n Puravankara Purva Venezia\n3 BHK Flat\nYela...,112 Cr,1614 Sq.Ft.
3,3,\n Sobha Royal Pavilion Phase 5\n4 BHK Flat\nS...,284 Cr,2232 Sq.Ft.
4,4,\n Electronic City\n Plot\nElectronic City\n,72 L,1200 Sq.Ft.

In [56]:
semifinal.to_excel('bangalore flat price(square yards).xlsx')