In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.quikr.com/homes/property/residential-for-sale-in-mysore-cid_32?page=3'
headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'
    }
webpage = requests.get(url, headers = headers).text

In [4]:
# webpage

In [5]:
soup = BeautifulSoup(webpage, 'lxml')

In [7]:
# print(soup.prettify())

In [15]:
part1_containers = soup.find_all('div', class_='tophe')
part1_containers[0]

<div class="tophe">
<h2><a class="listtitle notclickb" href="https://www.quikr.com/homes/land-of-1200sqft-for-sale-in-yesh-mega-city-mysore/p/365685076/3098?source=qh" rel="noopener" target="_blank"> 1200 Sq. ft Plot for Sale in Hunsur Road, Mysore</a></h2>
<h3 class="listloc">
<span class="rera">RERA Regd</span>
<a class="notclickb projectname" href="/homes/project/yesh-mega-city+hunsur-road+mysore+3098" onclick="Tiles.addEventTile('link-RealestateResponsiveUI', 'SnB', 'click_project_list');projectLocalityGa('Yesh Mega City')" rel="noopener" target="_blank">Yesh Mega City</a>,
													<a class="notclickb" href="/homes/locality/hunsur-road-mysore/6049" onclick="projectLocalityGa('Hunsur Road') " rel="noopener" target="_blank">Hunsur Road, </a>
<span>Mysore</span>
</h3>
<div class="listprice clearfix">
<div class="liprice">
<div class="prsg">
<i class="icon-rupee_2"></i><span>96 Lakhs</span>
</div>
</div>
</div>
</div>

In [13]:
part2_containers = soup.find_all('div', class_='listdetails')
len(part2_containers)

21

## Finding Title

In [16]:
title = [i.find('h2').text for i in part1_containers]

In [18]:
len(title)

21

## Finding Price

In [23]:
price = [i.find('div', class_="prsg").text for i in part1_containers]

In [24]:
price

['\n96 Lakhs\n',
 '\n14.40 Lakh\n',
 '\n24 Lakhs\n',
 '\n19.20 Lakh\n',
 '\n84.16 Lakh\n',
 '\n33.92 Lakh\n',
 '\n3 Crores\n',
 '\n3 Crores\n',
 '\n2.15 Crore\n',
 '\n77.50 Lakh\n',
 '\n72.50 Lakh\n',
 '\n25 Lakhs\n',
 '\n2.50 Crore\n',
 '\n35.26 Lakh\n',
 '\n50 Lakhs\n',
 '\n40 Lakhs\n',
 '\n34.20 Lakh\n',
 '\n57 Lakhs\n',
 '\n70.03 Lakh\n',
 '\n17.50 Lakh\n',
 '\n22.33 Lakh\n']

## Size

In [27]:
size = [i.find('small').text for i in part2_containers]

In [28]:
size

['(111.48 Sq.M)',
 '(111.48 Sq.M)',
 '(111.48 Sq.M)',
 '(74.32 Sq.M)',
 '(139.35 Sq.M)',
 '(75.72 Sq.M)',
 '(111.48 Sq.M)',
 '(111.48 Sq.M)',
 '(111.48 Sq.M)',
 '(144 Sq.M)',
 '(134.71 Sq.M)',
 '(111.48 Sq.M)',
 '(185.81 Sq.M)',
 '(100.89 Sq.M)',
 '(120.77 Sq.M)',
 '(89.19 Sq.M)',
 '(111.48 Sq.M)',
 '(185.81 Sq.M)',
 '(123.93 Sq.M)',
 '(111.48 Sq.M)',
 '(109.9 Sq.M)']

### Final extraction

In [36]:
final = pd.DataFrame()
for j in range (1,120):
    url = 'https://www.quikr.com/homes/property/residential-for-sale-in-mysore-cid_32?page={}'.format(j)
    headers = {
            'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'
        }
    webpage = requests.get(url, headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    part1_containers = soup.find_all('div', class_='tophe')
    part2_containers = soup.find_all('div', class_='listdetails')
    
    title = []
    price = []
    size = []

    title = [i.find('h2').text for i in part1_containers]
    
    for item in part1_containers:
        prsg_element = item.find('div', class_="prsg")
        if prsg_element is not None:
            price.append(prsg_element.text)
        else:
            price.append('N/A')
        
    for item in part2_containers:
        small_element = item.find('small')
        if small_element is not None:
            size.append(small_element.text)
        else:
            size.append('N/A')
    
    d = {'title':title, 'price':price, 'size':size}
    df = pd.DataFrame(d)
    final = final.append(df)

In [37]:
final

,title,price,size
0,"800 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n9.60 Lakh\n,(74.32 Sq.M)
1,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
2,"800 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n9.60 Lakh\n,(74.32 Sq.M)
3,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
4,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
...,...,...,...
1,"Plot for Sale in Bogadi, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
2,"Plot for Sale in Jettihundi, Mysore",\n18 Lakhs\n,(83.61 Sq.M)
3,"Plot for Sale in Bannimantap , Mysore",\n61.57 Lakh\n,(107.95 Sq.M)
4,"Plot for Sale in Marase, Mysore",\n45.04 Lakh\n,(134.99 Sq.M)
5,"Plot for Sale in Hanchya, Mysore",\n83.20 Lakh\n,(297.29 Sq.M)

In [40]:
final.duplicated().sum()

643

In [41]:
final.drop_duplicates()

,title,price,size
0,"800 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n9.60 Lakh\n,(74.32 Sq.M)
1,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
5,3 BHK 1300 Sq. ft Villa for Sale in Universit...,\n67 Lakhs\n,(120.77 Sq.M)
6,3 BHK 2700 Sq. ft Villa for Sale in Vijayanag...,\n1.47 Crore\n,(250.84 Sq.M)
7,"800 Sq. ft Plot for Sale in Yelwala, Mysore",\n12.80 Lakh\n,(74.32 Sq.M)
...,...,...,...
0,"2400 Sq. ft Plot for Sale in TK Layout, Mysore",\n1.75 Crore\n,(222.97 Sq.M)
1,"Plot for Sale in Jayapura, Mysore",\n31.50 Lakh\n,(195.1 Sq.M)
2,"Plot for Sale in Hebbal, Mysore",\n53 Lakhs\n,(185.81 Sq.M)
4,"Plot for Sale in Bogadi, Mysore",\n7.20 Lakh\n,(55.74 Sq.M)
2,"Plot for Sale in Jettihundi, Mysore",\n18 Lakhs\n,(83.61 Sq.M)

In [44]:
final.to_excel('Mysore Quicker.xlsx')

In [46]:
df= pd.read_excel('Mysore Quicker.xlsx')

In [48]:
df.duplicated().sum()

180

In [49]:
df.drop_duplicates()

,Unnamed: 0,title,price,size
0,0,"800 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n9.60 Lakh\n,(74.32 Sq.M)
1,1,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
2,2,"800 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n9.60 Lakh\n,(74.32 Sq.M)
3,3,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
4,4,"1200 Sq. ft Plot for Sale in Hunsur Road, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
...,...,...,...,...
1207,1,"Plot for Sale in Bogadi, Mysore",\n14.40 Lakh\n,(111.48 Sq.M)
1208,2,"Plot for Sale in Jettihundi, Mysore",\n18 Lakhs\n,(83.61 Sq.M)
1209,3,"Plot for Sale in Bannimantap , Mysore",\n61.57 Lakh\n,(107.95 Sq.M)
1210,4,"Plot for Sale in Marase, Mysore",\n45.04 Lakh\n,(134.99 Sq.M)
1211,5,"Plot for Sale in Hanchya, Mysore",\n83.20 Lakh\n,(297.29 Sq.M)

In [51]:
df.to_excel('Mysore Quicker.xlsx')