In [1]:
# Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
warnings.filterwarnings("ignore")

In [2]:
# reading the excel dataset

df = pd.read_excel("Bengaluru_House_Data.xlsx")

In [3]:
df.head()

,Unnamed: 0,area_type,location,size2,title,price,size,price1
0,0,Super built-up Area,Electronic City Phase II,2 BHK,2 BHK Super built-up Area in Electronic City ...,3907000.0,1056,39.07
1,1,Plot Area,Chikka Tirupathi,4 Bedroom,4 Bedroom Plot Area in Chikka Tirupathi,12000000.0,2600,120.00
2,2,Built-up Area,Uttarahalli,3 BHK,3 BHK Built-up Area in Uttarahalli,6200000.0,1440,62.00
3,3,Super built-up Area,Lingadheeranahalli,3 BHK,3 BHK Super built-up Area in Lingadheeranahalli,9500000.0,1521,95.00
4,4,Super built-up Area,Kothanur,2 BHK,2 BHK Super built-up Area in Kothanur,5100000.0,1200,51.00

In [4]:
df = df.drop(['area_type', 'location', 'size2', 'price1'], axis=1)
df.head()

,Unnamed: 0,title,price,size
0,0,2 BHK Super built-up Area in Electronic City ...,3907000.0,1056
1,1,4 Bedroom Plot Area in Chikka Tirupathi,12000000.0,2600
2,2,3 BHK Built-up Area in Uttarahalli,6200000.0,1440
3,3,3 BHK Super built-up Area in Lingadheeranahalli,9500000.0,1521
4,4,2 BHK Super built-up Area in Kothanur,5100000.0,1200

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13119 non-null  int64
 1   title       13119 non-null  object
 2   price       13119 non-null  float64
 3   size        13119 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 410.1+ KB

In [6]:
# df.to_excel('Bengaluru_House_Data.xlsx')

In [7]:
size = df['size']
matching_values = size[size.str.contains('\d+ - \d+', na=False)]
matching_values

Series([], Name: size, dtype: object)

In [8]:
df = df[~size.isin(matching_values)]
df['size']

0        1056
1        2600
2        1440
3        1521
4        1200
         ...
13114    3453
13115    3600
13116    1141
13117    4689
13118     550
Name: size, Length: 13119, dtype: object

In [9]:
df.to_excel('Bengaluru_House_Data.xlsx')

In [10]:
# Conversion factors
conversion_factors = {
    'Sq. Meter': 10.7639,
    'Cents': 435.6,
    'Sq. Yards': 9,
    'Perch': 272.25,
    'Acre': 43560,
    'Guntha': 1089,
    'Grounds': 2400
}

# Function to convert size values to square feet
def convert_to_square_feet(value):
    if isinstance(value, str):
        match = re.search(r'(\d+\.?\d*)', value)
        if match:
            numeric_value = float(match.group(1))
            unit = re.search(r'(Sq\. Meter|Cents|Sq\. Yards|Perch|Acre|Guntha|Grounds)', value)
            if unit:
                unit = unit.group(0)
                if unit == 'Sq. Meter':
                    return numeric_value * conversion_factors['Sq. Meter']
                elif unit == 'Cents':
                    return numeric_value * conversion_factors['Cents']
                elif unit == 'Sq. Yards':
                    return numeric_value * conversion_factors['Sq. Yards']
                elif unit == 'Perch':
                    return numeric_value * conversion_factors['Perch']
                elif unit == 'Acre':
                    return numeric_value * conversion_factors['Acre']
                elif unit == 'Guntha':
                    return numeric_value * conversion_factors['Guntha']
                elif unit == 'Grounds':
                    return numeric_value * conversion_factors['Grounds']
    return value

# Apply conversion function to 'Size' column
df['size'] = df['size'].apply(convert_to_square_feet)

In [11]:
df['size'].astype(float)

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13114    3453.0
13115    3600.0
13116    1141.0
13117    4689.0
13118     550.0
Name: size, Length: 13119, dtype: float64

In [12]:
# df.to_excel('Bengaluru_House_Data.xlsx')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13119 entries, 0 to 13118
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13119 non-null  int64
 1   title       13119 non-null  object
 2   price       13119 non-null  float64
 3   size        13119 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 512.5+ KB